In [1]:
import xlrd

wb = xlrd.open_workbook('tab.xlsx')
sheet_names = wb.sheet_names()
sh = wb.sheet_by_name(sheet_names[0])
nmin = sh.row_values(6)[2]
for rownum in range(7, 27):
    temp = sh.row_values(rownum)
    nmin = min(nmin, temp[2])
print(nmin)

39650.2

#### task 2.2

In [2]:
import pandas as pd

In [3]:
file = 'salaries.xlsx'

In [4]:
df = pd.read_excel(file)

In [12]:
#df

In [6]:
df2 = df

In [7]:
df2['mean'] = df2.mean(axis=1)

In [13]:
#df2

In [11]:
df2.sort_values(by=['mean'], ascending=False)

,Unnamed: 0,Программист,Менеджер по клинингу,Дизайнер онлайн-курсов,Собачий парикмахер,Учитель для нейросетей,Сотрудник конной милиции,Актёр на роль человека-бутерброда,mean
5,Куала-Лумпур,189710,787,765679,9769,57686,769829,53632,263870.285714
1,Улан-Батор,87,87698,7698,965765,769,659,21523,154885.571429
4,Станица Юго-Северная,8769,987687,23,1212,9876,23871,3224,147808.857143
2,Посёлок гидроузла имени Куйбышева,987595,87,5,7676,8765,9,4356,144070.428571
6,Хабнарфьордюр,65,76796,807,765685,97659,56913,32,142565.285714
7,Ытык-Кюёль,769,786578,1368,59625,6758,76587,3453,133591.142857
3,Крёкшино,9876,8769,9859,897698,7,69,342,132374.285714
0,Москва,765,9876,546585,6,65876,765,213,89155.142857

In [20]:
df2.loc['Total',:]= df2.sum(axis=0)

In [25]:
df2

,Unnamed: 0,Программист,Менеджер по клинингу,Дизайнер онлайн-курсов,Собачий парикмахер,Учитель для нейросетей,Сотрудник конной милиции,Актёр на роль человека-бутерброда,mean
0,Москва,765.0,9876.0,546585.0,6.0,65876.0,765.0,213.0,8.915514e+04
1,Улан-Батор,87.0,87698.0,7698.0,965765.0,769.0,659.0,21523.0,1.548856e+05
2,Посёлок гидроузла имени Куйбышева,987595.0,87.0,5.0,7676.0,8765.0,9.0,4356.0,1.440704e+05
3,Крёкшино,9876.0,8769.0,9859.0,897698.0,7.0,69.0,342.0,1.323743e+05
4,Станица Юго-Северная,8769.0,987687.0,23.0,1212.0,9876.0,23871.0,3224.0,1.478089e+05
5,Куала-Лумпур,189710.0,787.0,765679.0,9769.0,57686.0,769829.0,53632.0,2.638703e+05
6,Хабнарфьордюр,65.0,76796.0,807.0,765685.0,97659.0,56913.0,32.0,1.425653e+05
7,Ытык-Кюёль,769.0,786578.0,1368.0,59625.0,6758.0,76587.0,3453.0,1.335911e+05
Total,МоскваУлан-БаторПосёлок гидроузла имени Куйбыш...,2395272.0,3916556.0,2664048.0,5414872.0,494792.0,1857404.0,173550.0,2.416642e+06

In [ ]:
import pandas as pd

file = 'salaries.xlsx' # читаем эксель
df = pd.read_excel(file) # получаем исходные данные
df2 = df # делаем копию чтобы не испортить исходные данные

df2['mean'] = df2.mean(axis=1) # считаем медианную зп
df2.sort_values(by=['mean'], ascending=False) # выводим отсортированную таблицу

df2.loc['Total',:]= df2.sum(axis=0) # считаем сумму по столбцам
df2 # выводим получившиеся данные

In [26]:
import pandas as pd


data = pd.read_excel('salaries.xlsx', index_col=0)
print(data.median(axis=1).idxmax(), data.mean(axis=0).idxmax())

Куала-Лумпур Собачий парикмахер

#### task 2.3.1

In [28]:
file = 'trekking1.xlsx'
df = pd.read_excel(file)

In [34]:
df.columns = ['Name', 'Ccal', 'B', 'J', 'Y']

In [46]:
df.head()

                                Name   Ccal     B     J     Y
0                         Сухофрукты  548.0  12.8  40.8  32.4
1                       Каша Быстров  334.0   8.6   4.8  64.0
2                Балык "Королевский"  170.0  25.0   8.0   NaN
3  Колбаса с/к "Еврейская полусухая"  481.0  19.0  45.0   NaN
4       Суп гороховый с копченостями  390.0  16.0  11.0  52.0

In [48]:
df2 = df.sort_values(by=['Ccal', 'Name'], ascending=[False, True])

In [49]:
df2

                                     Name   Ccal     B     J     Y
14                 Шоколад молочный какао  601.0   7.0  43.0  46.0
15               Шоколад молочный миндаль  574.0   7.7  38.2  49.5
0                              Сухофрукты  548.0  12.8  40.8  32.4
35          Омлет с копченостями галагала  544.0  45.0  30.0   4.7
26                 Свинина сублимрованная  543.0  58.0  35.0   NaN
16                    Шоколад ремесленный  540.0  10.8  37.8  37.1
13                   Козинак подсолнечный  530.0  14.0  37.0  36.0
34               Омлет с грибами галагала  526.0  43.0  30.0   4.7
12                     Козинак арахисовый  520.0  15.0  26.0  55.0
21               Хлебцы льняные "Тайские"  507.0  19.0  39.0  20.0
3       Колбаса с/к "Еврейская полусухая"  481.0  19.0  45.0   NaN
25                Говядина сублимрованная  474.0  73.0  20.0   NaN
20            Сухарики ржаные с семечками  451.0  17.3  16.0  59.5
22                 Хлебцы льняные Морские  436.5  14.1  29.0   1.5
30      Суп говяжий с картофелем галагала  390.0  12.2  12.0  56.4
4            Суп гороховый с копченостями  390.0  16.0  11.0  52.0
31  Суп гороховый с копченостями галагала  390.0  16.0  11.0  52.0
29      Суп куриный с картофелем галагала  390.0  15.0  12.0  56.4
28                     Суп-гуляш галагала  382.0  15.0  10.0  55.0
32                     Суп-харчо "Острый"  370.0  13.5  10.0  55.6
17                            Сыр Маасдам  370.0  25.0  30.0   NaN
19                             Сыр Чеддер  369.0  23.5  30.5   NaN
27               Борщ Московский Галагала  360.0  15.0  10.0  52.0
9                         Крупа гречневая  360.0  13.0   2.0  72.0
8                  Рис пропаренный Увелка  350.0   8.0   1.0  78.0
7                        Свинина Кронидов  349.0  13.0  33.0   NaN
11             Сухарики ржаные Finn Crisp  347.0  10.0   2.6  61.0
10                        Капеллини Макфа  344.0  12.5   1.3  70.5
18                              Сыр Гауда  338.0  26.0  26.0   NaN
36                                Кус Кус  336.0  12.7   0.6  77.4
1                            Каша Быстров  334.0   8.6   4.8  64.0
33                      Картофель сушеный  333.0   6.0  74.0   NaN
6                       Говядина Кронидов  213.0  15.0  17.0   NaN
24              Хлебцы с чесноком и луком  212.0   7.9   1.3  43.3
5                    Суп томатный с рисом  205.5   4.7   1.3  42.2
2                     Балык "Королевский"  170.0  25.0   8.0   NaN
23                                Паутина   12.0   NaN   NaN   NaN

In [50]:
for i in df2['Name'].tolist():
    print(i)

Шоколад молочный какао
Шоколад молочный миндаль
Сухофрукты
Омлет с копченостями галагала
Свинина сублимрованная
Шоколад ремесленный
Козинак подсолнечный
Омлет с грибами галагала
Козинак арахисовый
Хлебцы льняные "Тайские"
Колбаса с/к "Еврейская полусухая"
Говядина сублимрованная
Сухарики ржаные с семечками
Хлебцы льняные Морские
Суп говяжий с картофелем галагала
Суп гороховый с копченостями
Суп гороховый с копченостями галагала
Суп куриный с картофелем галагала
Суп-гуляш галагала
Суп-харчо "Острый"
Сыр Маасдам
Сыр Чеддер
Борщ Московский Галагала
Крупа гречневая
Рис пропаренный Увелка
Свинина Кронидов
Сухарики ржаные Finn Crisp
Капеллини Макфа
Сыр Гауда
Кус Кус
Каша Быстров
Картофель сушеный
Говядина Кронидов
Хлебцы с чесноком и луком
Суп томатный с рисом
Балык "Королевский"
Паутина

In [ ]:
import pandas as pd # импорт Пандас

file = 'trekking1.xlsx' # имя файла
df = pd.read_excel(file) # читаем файл

df.columns = ['Name', 'Ccal', 'B', 'J', 'Y'] # русские имена интерпретатор понимает плохо

df2 = df.sort_values(by=['Ccal', 'Name'], ascending=[False, True]) # сортируем по каолрийности + именам

for i in df2['Name'].tolist(): # вывод
    print(i)

In [51]:
import pandas as pd


data = pd.read_excel('https://stepik.org/media/attachments/lesson/245290/trekking1.xlsx')
print(*data.sort_values(
	by=['ККал на 100', 'Unnamed: 0'],
	ascending=[False, True]
	)['Unnamed: 0'].to_list(), sep='\n')

Шоколад молочный какао
Шоколад молочный миндаль
Сухофрукты
Омлет с копченостями галагала
Свинина сублимрованная
Шоколад ремесленный
Козинак подсолнечный
Омлет с грибами галагала
Козинак арахисовый
Хлебцы льняные "Тайские"
Колбаса с/к "Еврейская полусухая"
Говядина сублимрованная
Сухарики ржаные с семечками
Хлебцы льняные Морские
Суп говяжий с картофелем галагала
Суп гороховый с копченостями
Суп гороховый с копченостями галагала
Суп куриный с картофелем галагала
Суп-гуляш галагала
Суп-харчо "Острый"
Сыр Маасдам
Сыр Чеддер
Борщ Московский Галагала
Крупа гречневая
Рис пропаренный Увелка
Свинина Кронидов
Сухарики ржаные Finn Crisp
Капеллини Макфа
Сыр Гауда
Кус Кус
Каша Быстров
Картофель сушеный
Говядина Кронидов
Хлебцы с чесноком и луком
Суп томатный с рисом
Балык "Королевский"
Паутина

#### task 2.3.2

In [ ]:
import pandas as pd

In [52]:
file = 'trekking2.xlsx'
df = pd.read_excel(file)

In [54]:
#df

In [56]:
sheets_dict = pd.read_excel('trekking2.xlsx', sheet_name=None)

In [61]:
sheetnames = []

In [62]:
for i in sheets_dict:
    sheetnames.append(i)

In [66]:
print(*sheetnames)

Справочник Раскладка

In [92]:
df_spr = pd.read_excel(file, sheet_name=sheetnames[0])
df_ras = pd.read_excel(file, sheet_name=sheetnames[1])

In [98]:
df_spr.columns = ['ProductSpr', 'Ccal', 'B', 'J', 'Y']

In [99]:
df_ras_group_series = df_ras.groupby('Продукт')['Вес в граммах'].sum()
df_ras_group = df_ras_group_series.to_frame().reset_index()
df_ras_group.columns = ['Product', 'Weight']

In [100]:
df_ras_group

                             Product  Weight
0                  Говядина Кронидов     250
1  Колбаса с/к "Еврейская полусухая"     160
2                    Крупа гречневая     160
3           Омлет с грибами галагала      60
4       Суп гороховый с копченостями      44
5        Сухарики ржаные с семечками     120
6                         Сухофрукты     150
7                        Сыр Маасдам      80
8             Хлебцы льняные Морские     110
9           Шоколад молочный миндаль      80

In [101]:
df_spr

                               ProductSpr   Ccal     B     J     Y
0                              Сухофрукты  548.0  12.8  40.8  32.4
1                            Каша Быстров  334.0   8.6   4.8  64.0
2                     Балык "Королевский"  170.0  25.0   8.0   NaN
3       Колбаса с/к "Еврейская полусухая"  481.0  19.0  45.0   NaN
4            Суп гороховый с копченостями  390.0  16.0  11.0  52.0
5                    Суп томатный с рисом  205.5   4.7   1.3  42.2
6                       Говядина Кронидов  213.0  15.0  17.0   NaN
7                        Свинина Кронидов  349.0  13.0  33.0   NaN
8                  Рис пропаренный Увелка  350.0   8.0   1.0  78.0
9                         Крупа гречневая  360.0  13.0   2.0  72.0
10                        Капеллини Макфа  344.0  12.5   1.3  70.5
11             Сухарики ржаные Finn Crisp  347.0  10.0   2.6  61.0
12                     Козинак арахисовый  520.0  15.0  26.0  55.0
13                   Козинак подсолнечный  530.0  14.0  37.0  36.0
14                 Шоколад молочный какао  601.0   7.0  43.0  46.0
15               Шоколад молочный миндаль  574.0   7.7  38.2  49.5
16                    Шоколад ремесленный  540.0  10.8  37.8  37.1
17                            Сыр Маасдам  370.0  25.0  30.0   NaN
18                              Сыр Гауда  338.0  26.0  26.0   NaN
19                             Сыр Чеддер  369.0  23.5  30.5   NaN
20            Сухарики ржаные с семечками  451.0  17.3  16.0  59.5
21               Хлебцы льняные "Тайские"  507.0  19.0  39.0  20.0
22                 Хлебцы льняные Морские  436.5  14.1  29.0   1.5
23                                Паутина   12.0   NaN   NaN   NaN
24              Хлебцы с чесноком и луком  212.0   7.9   1.3  43.3
25                Говядина сублимрованная  474.0  73.0  20.0   NaN
26                 Свинина сублимрованная  543.0  58.0  35.0   NaN
27               Борщ Московский Галагала  360.0  15.0  10.0  52.0
28                     Суп-гуляш галагала  382.0  15.0  10.0  55.0
29      Суп куриный с картофелем галагала  390.0  15.0  12.0  56.4
30      Суп говяжий с картофелем галагала  390.0  12.2  12.0  56.4
31  Суп гороховый с копченостями галагала  390.0  16.0  11.0  52.0
32                     Суп-харчо "Острый"  370.0  13.5  10.0  55.6
33                      Картофель сушеный  333.0   6.0  74.0   NaN
34               Омлет с грибами галагала  526.0  43.0  30.0   4.7
35          Омлет с копченостями галагала  544.0  45.0  30.0   4.7
36                                Кус Кус  336.0  12.7   0.6  77.4

In [110]:
df_merged = df_ras_group.merge(df_spr, left_on='Product', right_on='ProductSpr').fillna(0)

In [111]:
df_merged

,Product,Weight,ProductSpr,Ccal,B,J,Y
0,Говядина Кронидов,250,Говядина Кронидов,213.0,15.0,17.0,0.0
1,"Колбаса с/к ""Еврейская полусухая""",160,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0
2,Крупа гречневая,160,Крупа гречневая,360.0,13.0,2.0,72.0
3,Омлет с грибами галагала,60,Омлет с грибами галагала,526.0,43.0,30.0,4.7
4,Суп гороховый с копченостями,44,Суп гороховый с копченостями,390.0,16.0,11.0,52.0
5,Сухарики ржаные с семечками,120,Сухарики ржаные с семечками,451.0,17.3,16.0,59.5
6,Сухофрукты,150,Сухофрукты,548.0,12.8,40.8,32.4
7,Сыр Маасдам,80,Сыр Маасдам,370.0,25.0,30.0,0.0
8,Хлебцы льняные Морские,110,Хлебцы льняные Морские,436.5,14.1,29.0,1.5
9,Шоколад молочный миндаль,80,Шоколад молочный миндаль,574.0,7.7,38.2,49.5

In [112]:
df_merged['AvgCcal'] = df_merged['Weight'] * df_merged['Ccal'] / 100
df_merged['AvgB'] = df_merged['Weight'] * df_merged['B'] / 100
df_merged['AvgJ'] = df_merged['Weight'] * df_merged['J'] / 100
df_merged['AvgY'] = df_merged['Weight'] * df_merged['Y'] / 100

In [113]:
df_merged

,Product,Weight,ProductSpr,Ccal,B,J,Y,AvgCcal,AvgB,AvgJ,AvgY
0,Говядина Кронидов,250,Говядина Кронидов,213.0,15.0,17.0,0.0,532.50,37.50,42.50,0.00
1,"Колбаса с/к ""Еврейская полусухая""",160,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,769.60,30.40,72.00,0.00
2,Крупа гречневая,160,Крупа гречневая,360.0,13.0,2.0,72.0,576.00,20.80,3.20,115.20
3,Омлет с грибами галагала,60,Омлет с грибами галагала,526.0,43.0,30.0,4.7,315.60,25.80,18.00,2.82
4,Суп гороховый с копченостями,44,Суп гороховый с копченостями,390.0,16.0,11.0,52.0,171.60,7.04,4.84,22.88
5,Сухарики ржаные с семечками,120,Сухарики ржаные с семечками,451.0,17.3,16.0,59.5,541.20,20.76,19.20,71.40
6,Сухофрукты,150,Сухофрукты,548.0,12.8,40.8,32.4,822.00,19.20,61.20,48.60
7,Сыр Маасдам,80,Сыр Маасдам,370.0,25.0,30.0,0.0,296.00,20.00,24.00,0.00
8,Хлебцы льняные Морские,110,Хлебцы льняные Морские,436.5,14.1,29.0,1.5,480.15,15.51,31.90,1.65
9,Шоколад молочный миндаль,80,Шоколад молочный миндаль,574.0,7.7,38.2,49.5,459.20,6.16,30.56,39.60

In [114]:
df_merged.loc['Total',:]= df_merged.sum(axis=0)

In [115]:
df_merged

,Product,Weight,ProductSpr,Ccal,B,J,Y,AvgCcal,AvgB,AvgJ,AvgY
0,Говядина Кронидов,250.0,Говядина Кронидов,213.0,15.0,17.0,0.0,532.50,37.50,42.50,0.00
1,"Колбаса с/к ""Еврейская полусухая""",160.0,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,769.60,30.40,72.00,0.00
2,Крупа гречневая,160.0,Крупа гречневая,360.0,13.0,2.0,72.0,576.00,20.80,3.20,115.20
3,Омлет с грибами галагала,60.0,Омлет с грибами галагала,526.0,43.0,30.0,4.7,315.60,25.80,18.00,2.82
4,Суп гороховый с копченостями,44.0,Суп гороховый с копченостями,390.0,16.0,11.0,52.0,171.60,7.04,4.84,22.88
5,Сухарики ржаные с семечками,120.0,Сухарики ржаные с семечками,451.0,17.3,16.0,59.5,541.20,20.76,19.20,71.40
6,Сухофрукты,150.0,Сухофрукты,548.0,12.8,40.8,32.4,822.00,19.20,61.20,48.60
7,Сыр Маасдам,80.0,Сыр Маасдам,370.0,25.0,30.0,0.0,296.00,20.00,24.00,0.00
8,Хлебцы льняные Морские,110.0,Хлебцы льняные Морские,436.5,14.1,29.0,1.5,480.15,15.51,31.90,1.65
9,Шоколад молочный миндаль,80.0,Шоколад молочный миндаль,574.0,7.7,38.2,49.5,459.20,6.16,30.56,39.60
Total,"Говядина КронидовКолбаса с/к ""Еврейская полусу...",1214.0,"Говядина КронидовКолбаса с/к ""Еврейская полусу...",4349.5,182.9,259.0,271.6,4963.85,203.17,307.40,302.15

In [116]:
import pandas as pd
# пандас

file = 'trekking2.xlsx'
# имя файла

sheets_dict = pd.read_excel('trekking2.xlsx', sheet_name=None)
# считываем все названия страниц в файле

sheetnames = []

for i in sheets_dict:
    sheetnames.append(i)
# добавляем все названия страниц в список    
# print(*sheetnames)

df_spr = pd.read_excel(file, sheet_name=sheetnames[0])
df_ras = pd.read_excel(file, sheet_name=sheetnames[1])
# читаем 2 страницы в разные ДатаФреймы


df_spr.columns = ['ProductSpr', 'Ccal', 'B', 'J', 'Y']
# переобзываем колонки справочника

df_ras_group_series = df_ras.groupby('Продукт')['Вес в граммах'].sum()
df_ras_group = df_ras_group_series.to_frame().reset_index()
df_ras_group.columns = ['Product', 'Weight']
# группируем список и переобзываем его колонки

df_merged = df_ras_group.merge(df_spr, left_on='Product', right_on='ProductSpr').fillna(0)
# присоединяем к списку данные из справочника, заполняем отсутствующие значения нулями

df_merged['AvgCcal'] = df_merged['Weight'] * df_merged['Ccal'] / 100
df_merged['AvgB'] = df_merged['Weight'] * df_merged['B'] / 100
df_merged['AvgJ'] = df_merged['Weight'] * df_merged['J'] / 100
df_merged['AvgY'] = df_merged['Weight'] * df_merged['Y'] / 100
# считаем средние величины

df_merged.loc['Total',:]= df_merged.sum(axis=0)
# подсчет средних значений по всем столбцам (как сделать только по последним 4-м - пока что не знаю)

df_merged
# результат

,Product,Weight,ProductSpr,Ccal,B,J,Y,AvgCcal,AvgB,AvgJ,AvgY
0,Говядина Кронидов,250.0,Говядина Кронидов,213.0,15.0,17.0,0.0,532.50,37.50,42.50,0.00
1,"Колбаса с/к ""Еврейская полусухая""",160.0,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,769.60,30.40,72.00,0.00
2,Крупа гречневая,160.0,Крупа гречневая,360.0,13.0,2.0,72.0,576.00,20.80,3.20,115.20
3,Омлет с грибами галагала,60.0,Омлет с грибами галагала,526.0,43.0,30.0,4.7,315.60,25.80,18.00,2.82
4,Суп гороховый с копченостями,44.0,Суп гороховый с копченостями,390.0,16.0,11.0,52.0,171.60,7.04,4.84,22.88
5,Сухарики ржаные с семечками,120.0,Сухарики ржаные с семечками,451.0,17.3,16.0,59.5,541.20,20.76,19.20,71.40
6,Сухофрукты,150.0,Сухофрукты,548.0,12.8,40.8,32.4,822.00,19.20,61.20,48.60
7,Сыр Маасдам,80.0,Сыр Маасдам,370.0,25.0,30.0,0.0,296.00,20.00,24.00,0.00
8,Хлебцы льняные Морские,110.0,Хлебцы льняные Морские,436.5,14.1,29.0,1.5,480.15,15.51,31.90,1.65
9,Шоколад молочный миндаль,80.0,Шоколад молочный миндаль,574.0,7.7,38.2,49.5,459.20,6.16,30.56,39.60
Total,"Говядина КронидовКолбаса с/к ""Еврейская полусу...",1214.0,"Говядина КронидовКолбаса с/к ""Еврейская полусу...",4349.5,182.9,259.0,271.6,4963.85,203.17,307.40,302.15

### solutions

In [117]:
import pandas as pd


url = 'https://stepik.org/media/attachments/lesson/245290/trekking2.xlsx'
calorific = pd.read_excel(url, sheet_name=0, index_col=0).fillna(0)
weight = pd.read_excel(url,	sheet_name=1, index_col=0)	
ration = pd.concat([weight, calorific], axis=1, join='inner')
print(*ration.apply(lambda x: x.iloc[1:] * x.iloc[0] / 100, axis=1).sum(axis=0).astype('int'))

4963 203 307 302

#### task 2.3.2

In [ ]:
import pandas as pd

In [138]:
url = 'https://stepik.org/media/attachments/lesson/245290/trekking2.xlsx'

In [139]:
sheets_dict = pd.read_excel(url, sheet_name=None)

sheetnames = []

for i in sheets_dict:
    sheetnames.append(i)

In [140]:
print(*sheetnames)

Справочник Раскладка

In [150]:
df_spr = pd.read_excel(file, sheet_name=sheetnames[0]).fillna(0)
df_ras = pd.read_excel(file, sheet_name=sheetnames[1])

In [151]:
df_spr.columns = ['ProductSpr', 'Ccal', 'B', 'J', 'Y']

In [157]:
df_ras.columns = ['Product', 'Weight']

In [158]:
df_ras

                              Product  Weight
0            Омлет с грибами галагала      60
1                         Сыр Маасдам      80
2              Хлебцы льняные Морские      55
3        Суп гороховый с копченостями      44
4              Хлебцы льняные Морские      55
5   Колбаса с/к "Еврейская полусухая"      80
6                   Говядина Кронидов     250
7                     Крупа гречневая     160
8         Сухарики ржаные с семечками     120
9   Колбаса с/к "Еврейская полусухая"      80
10                         Сухофрукты     150
11           Шоколад молочный миндаль      80

In [159]:
df_spr

                               ProductSpr   Ccal     B     J     Y
0                              Сухофрукты  548.0  12.8  40.8  32.4
1                            Каша Быстров  334.0   8.6   4.8  64.0
2                     Балык "Королевский"  170.0  25.0   8.0   0.0
3       Колбаса с/к "Еврейская полусухая"  481.0  19.0  45.0   0.0
4            Суп гороховый с копченостями  390.0  16.0  11.0  52.0
5                    Суп томатный с рисом  205.5   4.7   1.3  42.2
6                       Говядина Кронидов  213.0  15.0  17.0   0.0
7                        Свинина Кронидов  349.0  13.0  33.0   0.0
8                  Рис пропаренный Увелка  350.0   8.0   1.0  78.0
9                         Крупа гречневая  360.0  13.0   2.0  72.0
10                        Капеллини Макфа  344.0  12.5   1.3  70.5
11             Сухарики ржаные Finn Crisp  347.0  10.0   2.6  61.0
12                     Козинак арахисовый  520.0  15.0  26.0  55.0
13                   Козинак подсолнечный  530.0  14.0  37.0  36.0
14                 Шоколад молочный какао  601.0   7.0  43.0  46.0
15               Шоколад молочный миндаль  574.0   7.7  38.2  49.5
16                    Шоколад ремесленный  540.0  10.8  37.8  37.1
17                            Сыр Маасдам  370.0  25.0  30.0   0.0
18                              Сыр Гауда  338.0  26.0  26.0   0.0
19                             Сыр Чеддер  369.0  23.5  30.5   0.0
20            Сухарики ржаные с семечками  451.0  17.3  16.0  59.5
21               Хлебцы льняные "Тайские"  507.0  19.0  39.0  20.0
22                 Хлебцы льняные Морские  436.5  14.1  29.0   1.5
23                                Паутина   12.0   0.0   0.0   0.0
24              Хлебцы с чесноком и луком  212.0   7.9   1.3  43.3
25                Говядина сублимрованная  474.0  73.0  20.0   0.0
26                 Свинина сублимрованная  543.0  58.0  35.0   0.0
27               Борщ Московский Галагала  360.0  15.0  10.0  52.0
28                     Суп-гуляш галагала  382.0  15.0  10.0  55.0
29      Суп куриный с картофелем галагала  390.0  15.0  12.0  56.4
30      Суп говяжий с картофелем галагала  390.0  12.2  12.0  56.4
31  Суп гороховый с копченостями галагала  390.0  16.0  11.0  52.0
32                     Суп-харчо "Острый"  370.0  13.5  10.0  55.6
33                      Картофель сушеный  333.0   6.0  74.0   0.0
34               Омлет с грибами галагала  526.0  43.0  30.0   4.7
35          Омлет с копченостями галагала  544.0  45.0  30.0   4.7
36                                Кус Кус  336.0  12.7   0.6  77.4

In [160]:
df_merged = df_ras.merge(df_spr, left_on='Product', right_on='ProductSpr').fillna(0)

In [161]:
df_merged

,Product,Weight,ProductSpr,Ccal,B,J,Y
0,Омлет с грибами галагала,60,Омлет с грибами галагала,526.0,43.0,30.0,4.7
1,Сыр Маасдам,80,Сыр Маасдам,370.0,25.0,30.0,0.0
2,Хлебцы льняные Морские,55,Хлебцы льняные Морские,436.5,14.1,29.0,1.5
3,Хлебцы льняные Морские,55,Хлебцы льняные Морские,436.5,14.1,29.0,1.5
4,Суп гороховый с копченостями,44,Суп гороховый с копченостями,390.0,16.0,11.0,52.0
5,"Колбаса с/к ""Еврейская полусухая""",80,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0
6,"Колбаса с/к ""Еврейская полусухая""",80,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0
7,Говядина Кронидов,250,Говядина Кронидов,213.0,15.0,17.0,0.0
8,Крупа гречневая,160,Крупа гречневая,360.0,13.0,2.0,72.0
9,Сухарики ржаные с семечками,120,Сухарики ржаные с семечками,451.0,17.3,16.0,59.5
10,Сухофрукты,150,Сухофрукты,548.0,12.8,40.8,32.4
11,Шоколад молочный миндаль,80,Шоколад молочный миндаль,574.0,7.7,38.2,49.5

In [162]:
df_merged['DayCcal'] = df_merged['Weight'] * df_merged['Ccal'] / 100
df_merged['DayB'] = df_merged['Weight'] * df_merged['B'] / 100
df_merged['DayJ'] = df_merged['Weight'] * df_merged['J'] / 100
df_merged['DayY'] = df_merged['Weight'] * df_merged['Y'] / 100

In [163]:
df_merged

,Product,Weight,ProductSpr,Ccal,B,J,Y,DayCcal,DayB,DayJ,DayY
0,Омлет с грибами галагала,60,Омлет с грибами галагала,526.0,43.0,30.0,4.7,315.600,25.800,18.00,2.820
1,Сыр Маасдам,80,Сыр Маасдам,370.0,25.0,30.0,0.0,296.000,20.000,24.00,0.000
2,Хлебцы льняные Морские,55,Хлебцы льняные Морские,436.5,14.1,29.0,1.5,240.075,7.755,15.95,0.825
3,Хлебцы льняные Морские,55,Хлебцы льняные Морские,436.5,14.1,29.0,1.5,240.075,7.755,15.95,0.825
4,Суп гороховый с копченостями,44,Суп гороховый с копченостями,390.0,16.0,11.0,52.0,171.600,7.040,4.84,22.880
5,"Колбаса с/к ""Еврейская полусухая""",80,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,384.800,15.200,36.00,0.000
6,"Колбаса с/к ""Еврейская полусухая""",80,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,384.800,15.200,36.00,0.000
7,Говядина Кронидов,250,Говядина Кронидов,213.0,15.0,17.0,0.0,532.500,37.500,42.50,0.000
8,Крупа гречневая,160,Крупа гречневая,360.0,13.0,2.0,72.0,576.000,20.800,3.20,115.200
9,Сухарики ржаные с семечками,120,Сухарики ржаные с семечками,451.0,17.3,16.0,59.5,541.200,20.760,19.20,71.400
10,Сухофрукты,150,Сухофрукты,548.0,12.8,40.8,32.4,822.000,19.200,61.20,48.600
11,Шоколад молочный миндаль,80,Шоколад молочный миндаль,574.0,7.7,38.2,49.5,459.200,6.160,30.56,39.600

In [167]:
df_final = df_merged[['DayCcal', 'DayB', 'DayJ', 'DayY']]

In [172]:
for i in range(len(df_merged['DayCcal'])):
    print(df_merged['DayCcal'][i], end=' ')
    print(df_merged['DayB'][i], end=' ')
    print(df_merged['DayJ'][i], end=' ')
    print(df_merged['DayY'][i], end=' ')
    print()

315.6 25.8 18.0 2.82
296.0 20.0 24.0 0.0
240.075 7.755 15.95 0.825
240.075 7.755 15.95 0.825
171.6 7.04 4.84 22.88
384.8 15.2 36.0 0.0
384.8 15.2 36.0 0.0
532.5 37.5 42.5 0.0
576.0 20.8 3.2 115.2
541.2 20.76 19.2 71.4
822.0 19.2 61.2 48.6
459.2 6.16 30.56 39.6

In [176]:
for i in range(len(df_merged['DayCcal'])):
    print(int(df_merged['DayCcal'][i]), end=' ')
    print(int(df_merged['DayB'][i]), end=' ')
    print(int(df_merged['DayJ'][i]), end=' ')
    print(int(df_merged['DayY'][i]), end='\n')

315 25 18 2
296 20 24 0
240 7 15 0
240 7 15 0
171 7 4 22
384 15 36 0
384 15 36 0
532 37 42 0
576 20 3 115
541 20 19 71
822 19 61 48
459 6 30 39

### task 2.4

In [ ]:
import pandas as pd

In [206]:
file = '../stepiq_Web/rogaikopyta/'

In [188]:
temp = '../stepiq_Web/rogaikopyta/1.xlsx'

In [189]:
df = pd.read_excel(temp)

In [191]:
df.dropna()

  Расчетный лист                    Unnamed: 1 Unnamed: 2  Unnamed: 3
0            ФИО  Сидоров Михаил Александрович  Начислено     49259.0

In [198]:
temp2 = '../stepiq_Web/rogaikopyta/2.xlsx'

In [199]:
df2 = pd.read_excel(temp2)

In [200]:
df2.dropna()

  Расчетный лист              Unnamed: 1 Unnamed: 2  Unnamed: 3
0            ФИО  Львов Сергей Сергеевич  Начислено    192412.0

In [201]:
frames = [df, df2]

In [202]:
pd.concat(frames).dropna()

  Расчетный лист                    Unnamed: 1 Unnamed: 2  Unnamed: 3
0            ФИО  Сидоров Михаил Александрович  Начислено     49259.0
0            ФИО        Львов Сергей Сергеевич  Начислено    192412.0

In [227]:
df = pd.read_excel(file + '1' + '.xlsx')

In [228]:
for i in range(2, 1001):
    df_temp = pd.read_excel(file + str(i) + '.xlsx')
    df = pd.concat([df, df_temp])

In [265]:
df_ans = df.dropna().reset_index()

In [266]:
df_ans.columns = ['idx', 'Del', 'Name', 'Del2', 'Money']
del df_ans['idx']
del df_ans['Del']
del df_ans['Del2']
df_ans2 = df_ans.sort_values(by=['Name'], ascending=True).reset_index()

In [268]:
del df_ans2['index']

In [270]:
#for i in range(len(df_ans2['Name'])):
#    print(df_ans2['Name'][i], end=' ')
#    print(int(df_ans2['Money'][i]), end='\n')

In [274]:
import pandas as pd

file = '../stepiq_Web/rogaikopyta/'
# путь к файлам

df = pd.read_excel(file + '1' + '.xlsx')
# открываем 1-й файл (да-да, я нуб)

for i in range(2, 1001):
    df_temp = pd.read_excel(file + str(i) + '.xlsx')
    df = pd.concat([df, df_temp])
# циклом открываем всем остальные файлы и конкатенируем с 1-ым
    
df_ans = df.dropna().reset_index()
# выкидываем пустые ячейки

df_ans.columns = ['idx', 'Del', 'Name', 'Del2', 'Money']
df_ans2 = df_ans.sort_values(by=['Name'], ascending=True).reset_index()
# адекватные имена для столбцов, сортировка по имени

del df_ans2['index']
# выкидываем индекс 

#for i in range(len(df_ans2['Name'])):
#    print(df_ans2['Name'][i], end=' ')
#    print(int(df_ans2['Money'][i]), end='\n')

# вывод

### solutions

In [ ]:
import pandas as pd
import zipfile
import requests
import io


sheet = pd.Series()
url = 'https://stepik.org/media/attachments/lesson/245299/rogaikopyta.zip'
r = requests.get(url)

with r, zipfile.ZipFile(io.BytesIO(r.content)) as archive:
	for member in archive.infolist():
		slip = pd.read_excel(io.BytesIO(archive.read(member)))
		sheet.loc[slip.iloc[0, 1]] = int(slip.iloc[0, 3])

with open('salaries.txt', 'w') as salaries:
	salaries.write('\n'.join(sheet.sort_index().reset_index(). \
		apply(lambda x: f'{x.iloc[0]} {x.iloc[1]}', axis=1)))

In [ ]:
import xlrd, xlwt, requests, zipfile, io
res = requests.get(' https://stepik.org/media/attachments/lesson/245299/rogaikopyta.zip')
zfile = zipfile.ZipFile(io.BytesIO(res.content), 'r')
ww = xlwt.Workbook() 
ws = ww.add_sheet('zp')
l = []
for x in zfile.infolist():
    wb = xlrd.open_workbook(file_contents=zfile.read(x))
    sh = wb.sheet_by_name(wb.sheet_names()[0])
    l += [(sh.row_values(1)[1], sh.row_values(1)[3])]
for i, s in enumerate(sorted(l)):
    ws.write(i, 0, s[0])
    ws.write(i, 1, s[1])
ww.save('zp.xlsx')

In [ ]:
# Zipfile

import io
from zipfile import ZipFile
import pandas as pd

path = "rogaikopyta.zip"
zf = ZipFile(path)
vedomost = []

for file_name in zf.namelist():
    df = pd.read_excel(io.BytesIO(zf.read(file_name)))
    fio, salary = df.iloc[0, 1], df.iloc[0, 3]
    vedomost.append((fio, int(salary))

with open("vedomost.txt", "w") as f:
    for fio, salary in sorted(vedomost):
        f.write(f"{fio} {salary}\n")